%body
  .layout-notification
    .chat
      = render  "common/chat-side"
  .chat-header
    .chat-header-clearfix
      .chat-header--left
        = link_to "Edit" , "edit" , class: "chat-header--left__edit"
        %h2
          = @group.name
        %span.chat-header--left__users
          Member :
          -@group_users.each do |group_user|
            = group_user.name
    .chat-header--left--clearfix
      .chat-body-all
        - @messages.each do |message|
          .chat-body
            %p.chat-body__name
            %span.chat-body__name
              = message.user.name
            %span.chat-body__name--time
              = message.created_at.to_s(:long)
            %p.chat-body__name--time--messages
              = message.body
            %p.chat-body_image
              = image_tag  message.image.url unless message.image.blank?
    .chat-footer
      = form_for [@group, @message], url: group_messages_path do |f|
        .chat-footer__body
          =f.text_area :body, class: "message_body" , size: "100x50"
          = f.label :image , class: "fa fa-image"
          = f.file_field :image, class: "fa fa-image", style: "display:none;"
        .chat-footer-clearfix
        = f.submit "Send" , class: 'Send'
