%body
  .layout-notification
    .chat
      = render  "common/chat-side"
.chat-header
  .chat-header-clearfix
    .chat-header--left
      = link_to "Edit" , "edit" , class: "chat-header--left__edit"
      %h2 title
      %p.chat-header--left__users
        Members:
        %user_name
        = current_user.name
    .chat-body
      %p.chat-body__name
      %span.chat-body__name SEO
      %span.chat-body__name--time 2017/09/11 21:23
      %p.chat-body__name--time--messages
        Helloworld
  .chat-footer
    = form_for @messages, url: group_messages_path do |f|
      .chat-footer__body
        =f.text_area :body, class: "message_body" , size: "100x50"
        = f.label :i, class: "fa fa-image"
        =f.file_field :image, class: "fa fa-image"
        = f.submit "Send" , class: 'Send'
