= form_for @group do |f|
  = render "error"
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      =f.label :name,"グループ名", class: "chat-group-form__label"
    .chat-group-form__field--right
      =f.text_field :name, class: "chat-group-form__input" ,placeholder: "グループ名を入力してください"
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      =f.label "チャットメンバーを追加", class: "chat-group-form__label"
    .chat-group-form__field--right
      %input#user-search-field.chat-group-form__input{placeholder: '追加したいユーザー名を入力してください', type: 'text', autocomplete: "off"}
      #user-search-result
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :チャットメンバー, class: 'chat-group-form__label'
    .chat-group-form__field--right
      #chat-current_user-name
      #chat-group-users
        - @group.users.each do |user|
          .chat-group-user.clearfix#chat-group-user
            = f.hidden_field :user_ids,  multiple: true
            %p.chat-group-user__name
            %a.user-search-remove.chat-group-user__btn.chat-group-user__btn--remove.js-remove-btn 削除
            = user.name
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit "Send" , class: 'chat-group-form__action-btn'
